<template>
  <div class="login mt-5">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              :class="{ 'is-invalid': errors.error }"
              id="email"
              v-model="details.email"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              :class="{ 'is-invalid': errors.error }"
              id="password"
              v-model="details.password"
              placeholder="Password"
            />
            <div class="invalid-feedback" v-if="errors.error">
              {{ errors.error }}
            </div>
          </div>
          <button type="button" @click="login" class="btn btn-primary">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Login",

  data: function() {
    return {
      details: {
        email: null,
        password: null
      }
    };
  },

  computed: {
    ...mapGetters(["errors"])
  },

  mounted() {
    this.$store.commit("setErrors", {});
  },

  methods: {
    ...mapActions("auth", ["sendLoginRequest"]),
    ...mapActions("auth",["loginUser"]),

    login: function() {
      this.sendLoginRequest(this.details).then((response) => {
        if(response.status == 200){
          this.loginUser(response.data.data);
          this.$router.push({path: '/'+response.data.data.status});
        }
      });
    }
  }
};
</script>
