<template>
  <div class="login mt-5">
    <div class="card">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">First Name</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': errors.firstname }"
              id="firstname"
              v-model="details.firstname"
              placeholder="Enter first name"
            />
            <div class="invalid-feedback" v-if="errors.firstname">
              {{ errors.firstname[0] }}
            </div>
          </div>
          <div class="form-group">
            <label for="email">last Name</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': errors.lastname }"
              id="lastname"
              v-model="details.lastname"
              placeholder="Enter first name"
            />
            <div class="invalid-feedback" v-if="errors.lastname">
              {{ errors.lastname[0] }}
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              :class="{ 'is-invalid': errors.email }"
              id="email"
              v-model="details.email"
              placeholder="Enter email"
            />
            <div class="invalid-feedback" v-if="errors.email">
              {{ errors.email[0] }}
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              :class="{ 'is-invalid': errors.password }"
              id="password"
              v-model="details.password"
              placeholder="Password"
            />
            <div class="invalid-feedback" v-if="errors.password">
              {{ errors.password[0] }}
            </div>
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirm password</label>
            <input
              type="password"
              class="form-control"
              :class="{ 'is-invalid': errors.password_confirmation }"
              id="password_confirmation"
              v-model="details.password_confirmation"
              placeholder="Confirm password"
            />
             <div class="invalid-feedback" v-if="errors.password_confirmation">
              {{ errors.password_confirmation[0] }}
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <select v-model="details.city_id" class="form-control" >
              <option v-for="(city,index) in cityList" :key="index" :value="city.id">{{city.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input
              name="gender"
              type="radio"
              value="male"
              v-model="details.gender"
            />Male
            <input
              name="gender"
              type="radio"
              value="female"
              v-model="details.gender"
            />Female
          </div>
          <div class="form-group">
            <label for="hobby">Hobby</label>
            <div v-for="(hobby,index) in hobbyList" :key="index">
               <input
                  name="hobby[]"
                  type="checkbox"
                  :value="hobby.id"
                  v-model="details.hobby"
                />{{hobby.name}}
            </div>
          </div>
          <button type="button" @click="register" class="btn btn-primary">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Home",

  data: function() {
    return {
      cityList:[],
      hobbyList:[],
      details: {
        firstname: null,
        lastname: null,
        email: null,
        password: null,        
        password_confirmation: null,
        city_id: null,
        gender: null,
        hobby: [],
      }
    };
  },

  computed: {
    ...mapGetters(["errors"]),
  },

  created(){
    this.getCity();
    this.getHobby();
  },

  mounted() {
    this.$store.commit("setErrors", {});
  },

  methods: {
    ...mapActions("auth", ["sendRegisterRequest"]),
    ...mapActions("services", ["getAllCity","getAllHobby"]),

    register: function() {
      this.sendRegisterRequest(this.details).then((res) => {
        if(res.status){
          this.$router.push({ name: "Login" });
        }
      });
    },

    getCity(){      
     this.getAllCity().then((cityResponse)=>{
        this.cityList = cityResponse.data.data;
     })
    },

    getHobby(){
       this.getAllHobby().then((hobbyResponse)=>{
        this.hobbyList = hobbyResponse.data.data;
     })
    }
  }
};
</script>
