<template>
  <div class="verify">
    <h1>{{ status }}</h1>
  </div>
</template>

<script>

export default {
  props: ["status"],

  data() {
    return {
      error: null
    };
  },


};
</script>
