<template>
  <div class="home mt-5">
    <h2>Home Page</h2>
    <div v-if="isLoggedIn">Welcome to home page</div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
    };
  },

  
  computed : {
      isLoggedIn : function(){ 
        return this.$store.getters['auth/isAuthenticated']
        }
  },

};
</script>
